/*nav*/
body{
  background-color: #262936;
  ;
}
.main-nav .navbar{
  background-color: transparent;
}
.main-nav .navbar .navbar-brand {
  font-weight: 900;
  font-size: 18px;
}
.main-nav .navbar .nav-item .nav-link.active::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #009ad8;
  left: 0;
  top: 29px;
}

.main-nav .navbar .nav-link {
  position: relative;
 margin-left: 0.5rem;
 overflow: hidden;
}
.main-nav .navbar .nav-link::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #009ad8;
  left: -100%;
  top: 28px;
  transition: all 1s;
}
.main-nav .navbar .nav-link:hover::after {
  left: 0;
}
.branding{
display: flex;
}
/*main*/
.header{
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  height: 40vh;
  position: relative;
  margin-top: 100px;
}
.search{
  margin-top: 30px;
}
.main{
  position: relative;
}
.main-btn{
  position: absolute;
right: 135px;
top: 55px;
}

.social-icon a{
  text-decoration: none;
  color: #009ad8;
  }
  .icon-border{
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #151719;
      margin-left: 10px;
     
  }
  .status{
      height: 200px;
  }
  .status .col-md-4{
      border: #1e2028;
      border-style: solid;
  }
 
  .icon img{
      height: 20px;
  }
  .bg-light-gray{
     background-color:  #323544;
  }
  .bg-dark-gray{
      background-color: #262936;
  }
  .bg-small-nav{
      background-color: #2d303d;
  }
  .test{
    height: 900px;
    background-color: aqua;
}